<header>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
        aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-hero" routerLinkActive="active">Register </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Change
            </a>
            <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu text-dark">
              <li *ngFor="let h of HeroArray"><a (click)="getHeroData(h.name)" class="dropdown-item text-dark">
                  {{h.name}}</a>
              </li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/delete-hero" routerLinkActive="active">Delete SuperHero</a>
          </li>
        </ul>
        <div class="header-res-text">
          Super Hero Registration
        </div>
        <div class="hero-cnt pe-2">
          Current Heroes Registered ({{RecordCount}})
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="p-4 bg-dark text-white footersize d-flex justify-content-center ">
  <div class="row">
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">CONTACT US</h5>
        <Div class="footer-text">
          <span> SuperHero Registration Inc. <br> 12345 W. SomeWhere Drive <br>Surprise, AZ 85374<br>
            1-800-111-1111</span>
        </Div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">COMPANY</h5>
        <Div class="footer-text">
          <span>
            <a href="#" class="linkhover">
              About Us</a>
            <br>
            <a href="#" class="linkhover">
              Contact</a>
            <br>
            <a href="#" class="linkhover" data-bs-toggle="modal" data-bs-target="#signup">
              Join Our Team</a>
            <br>
            <a href="#" class="linkhover" routerLink="/faq-page">
              FAQ</a>
          </span>
        </Div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="footer_infocol">
        <h5 class="contact-heading">CONNECT WITH US</h5>
        <Div class="footer-text">
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-facebook"></i>     
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-instagram"></i>
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-twitter"></i>
          </a>
          <a href="#" class="p-2">
            <i style="font-size:2em;color:white" class="bi bi-youtube"></i>
          </a>
        </Div>
      </article>
    </div>
    <div class="container">
      <p class="copyright p-4">Copyright &copy; SuperHero Registration Inc.</p>
    </div>
  </div>
</footer>

<!-- Modal SuperHero signup-->
<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header signup-header">
        <h5 class="modal-title" id="enrollLabel">JOIN OUR TEAM OF SUPER HEROES</h5>
      </div>
      <div class="modal-body">
        <p class="lead">If you have super powers and think you got what it takes to become a Super Hero,
          sign up now for a consultation.</p>
        <div class="pt-2 signupimg">
        </div>
        <form>
          <div class="mb-3">
            <label for="first-name" class="col-form-label">
              First Name:
            </label>
            <input type="text" class="form-control" id="first-name" required />
          </div>
          <div class="mb-3">
            <label for="last-name" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="last-name" required />
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" class="form-control" id="email" required />
          </div>
        </form>
      </div>
      <div class="modal-footer signupfooter">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="showPopupWin()">Submit</button>
      </div>
      <div class="popup-container">
        <div class="popup" *ngIf="showPopup">
          <div class="popup-header">
            <h3 class="popup-title text-center">Thanks for signing up!</h3>
          </div>
          <div class="popup-body text-center">
            <p>We will be in touch very soon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>