.header-res-text{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-right: 650px;
    font-family: 'Times New Roman', Times, serif;
  }
  .copyright{
    text-align: center;
}
footer{
    margin-top: auto;
}
  .iconsize{
    justify-content: right;
  }
  a{
    color: white;
    text-decoration: none;
  }
  .hero-cnt{
    font-size: 16px;
    color: white;
    text-align: right;    
    font-family: 'Times New Roman', Times, serif;
  }
  .signup-header{
    background-color: rgb(233, 183, 90);
    color:black;
  }
  .signupfooter{
    background-color: rgb(233, 183, 90);
  }
  .signupimg{
    background-image: url(/assets/GroupPic.jfif);
    height: 150px;    
  }
  