<div class="main-container">

    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/SpiderManBanner.jfif" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="add-text pt-2">
        DELETE SUPER HERO
    </div>

    <div class="form-cont ">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" value="byname"id="formRadioDefault" checked="" [(ngModel)]="selectedByName" >
            <label class="form-check-label" for="formRadioDefault">Search By Hero Name</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" value="bypower" id="formRadioChecked" [(ngModel)]="selectedByName">
            <label class="form-check-label" for="formRadioChecked">Search By Hero Super Power</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDefault" value="byall" id="formRadioChecked" [(ngModel)]="selectedByName">
            <label class="form-check-label" for="formRadioChecked">Show all Super Heroes</label>
        </div>
    </div>

    <form class="ps-4 pt-2" (ngSubmit)="search()">
        <input type="text" placeholder="Search" [(ngModel)]="searchName" name="search">
        <button class="btn btn-sm btn-primary " type="submit">Search</button>
    </form>
    <section>
        <div class="row row-cols-sm-6  mx-2 mb-3 justify-content-center">
            <div class="col" *ngFor="let h of searchResults">
                <div class="card mt-4">
                    <img [src]="h.src">
                  <!--  <a href="#"> -->
                        <div (click)="DeleteHero(h.id)" class="card-footer">
                            <h5 class="card-title" role="button">
                              Delete {{h.name}} </h5>
                        </div>
                 <!--   </a>-->
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col col-md-10">
            <div class="popup-container">
                <div class="popup" *ngIf="showPopup">
                    <div class="popup-header">
                        <h3 class="popup-title text-center">There is an error on the form</h3>
                    </div>
                    <div class="popup-body text-center">
                        <p>All fields marked with an * are required to be entered</p>
                    </div>
                </div>
                <div class="popupAdd" *ngIf="showRecDeleted">
                    <div class="popup-header">
                        <h3 class="popup-title text-center">Record has been deleted</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>