.carouselimgsz{
    height:300px;
}
.add-text{
  font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-weight:600;
}
.main-container{
  background-color: rgba(218, 218, 207, 0.432);  
  }
  .card-footer{    
    text-align: center;  
    font-family: 'Times New Roman', Times, serif; 
    color:black;
    
}
.card-title{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif; 
  font-weight:600;
  color:black;
}
a{
  text-decoration: none;
}
.form-check-label{
  font-family: 'Times New Roman', Times, serif; 
  font-weight:600;
  color:black;
}
.form-cont{  
  width: 300px;
  border: 4px;
  border-style: groove;
  position:relative;
  left: 25px;  
  
}