.carouselimgsz{
    height:350px;
}
.card-footer{    
    text-align: center;  
    background-color: rgb(233, 183, 90);         
    
}
a{
  text-decoration: none;
}
.card-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
    font-weight:600;
    color:black;
}
  .card-header-text{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  .main-container{
    height: 100%;
    background-color: rgb(233, 183, 90);
  }
  .sign-up-container{
    background-color: white;
  }
  .sign-up-label1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
  }
  .sign-up-label2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
  }
  .pic{
    height:40px;
    width: 40px;
  }
  .m-body{
    height: 625px;
    
  }
  
  .body-contain{
    height:375px;   
    margin-top: 150px;
    border-top: none;        
    border-bottom: none;    
    border-left: none;
    border-right: none;
    background-image: url(/assets/CityImgBackground.jfif);
    background-repeat: no-repeat;
    background-size:cover;    
    
  }  
  .modal-title-d{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif; 
  }
  .name{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    
  }
  .dob{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif; 
  }
.verbiage{
  text-align: center;
  font-size: 23px;
  color:white;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold;  
}
.modal-head-det{
  
  background-color: rgb(233, 183, 90);
  color:black;
}
.signup-header{
  background-color: rgb(233, 183, 90);
  color:black;
}
.signupfooter{
  background-color: rgb(233, 183, 90);
}
.signupimg{
  background-image: url(/assets/GroupPic.jfif);
  height: 150px;    
}
