<div class="main-container">
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/BannerPic1.jpg" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <section class="main-section w-100 text-center">
        <div>
            <h3 CLASS="card-header-text pt-4">
                CURRENT SUPER HEROES
            </h3>
        </div>
    </section>
    <section>
        <div class="row row-cols-sm-5  mx-2 mb-3 ">
            <div class="col" *ngFor="let h of HeroArray">
                <div class="card mt-2">
                    <img [src]="h.src">
                    <a href="#">
                        <div (click)="DataByName(h.name)" class="card-footer">
                            <h5 class="card-title " data-bs-toggle="modal" data-bs-target="#herodetails" role="button">
                                {{h.name}} </h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="sign-up-container d-flex justify-content-center">
        <div class="row">
            <div class="col col-5">
                <H3 class="sign-up-label1 pt-2">
                    WANT TO JOIN OUR TEAM OF SUPER HEROES?
                </H3>
                <H5 class="sign-up-label2 pt-2">
                    If you were born with super powers and want to help protect mankind sign up now!
                </H5>
                <div class="signupbtn pt-2">
                    <a href="#" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#signup"
                        role="button" aria-disabled="true">Sign
                        Up</a>
                </div>
            </div>
            <div class="col">
                <img src="/assets/HeroPointing.jfif" class="guypointing" alt="sign-up-pic">
            </div>
            <div class="col ">
                <H3 class="sign-up-label1 pt-2">
                    JOIN OUR NEWSLETTER
                </H3>
                <H5 class="sign-up-label2 pt-2">
                    If you want to stay informed on all things SuperHero join now!
                </H5>
                <div class="signupbtn pt-2">
                    <a href="#" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#enroll"
                        role="button" aria-disabled="true">Subscribe</a>
                </div>
            </div>
        </div>
    </section>


    <!-- Modal news letter signup-->
    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header signup-header">
                    <h5 class="modal-title" id="enrollLabel">NEWS LETTER SUBSCRIPTION</h5>                    
                </div>
                <div class="modal-body">
                    <p class="lead">Stay up to date on your favorite Super Heroes</p>
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="col-form-label">
                                First Name:
                            </label>
                            <input type="text" class="form-control" id="first-name" required />
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" required />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer signupfooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" (click)="showPopupWin()">Submit</button>
                </div>
                <div class="popup-container">
                    <div class="popup" *ngIf="showPopup">
                        <div class="popup-header">
                            <h3 class="popup-title text-center">Thanks for subscribing!</h3>
                        </div>
                        <div class="popup-body text-center">
                            <p>You'll receive valuable information on a monthly basis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal SuperHero signup-->
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header signup-header">
                    <h5 class="modal-title" id="enrollLabel">JOIN OUR TEAM OF SUPER HEROES</h5>                    
                </div>
                <div class="modal-body">
                    <p class="lead">If you have super powers and think you got what it takes to become a Super Hero,
                        sign up now for a consultation.</p>
                    <div class="pt-2 signupimg">                       
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="first-name" class="col-form-label">
                                First Name:
                            </label>
                            <input type="text" class="form-control" id="first-name" required />
                        </div>
                        <div class="mb-3">
                            <label for="last-name" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control" id="last-name" required />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" required />
                        </div>
                    </form>
                </div>
                <div class="modal-footer signupfooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" (click)="showPopupWin()">Submit</button>
                </div>
                <div class="popup-container">
                    <div class="popup" *ngIf="showPopup">
                        <div class="popup-header">
                            <h3 class="popup-title text-center">Thanks for signing up!</h3>
                        </div>
                        <div class="popup-body text-center">
                            <p>We will be in touch very soon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal superhero details-->
    <div class="modal fade" id="herodetails" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-head-det text-center">
                    <h5 class="modal-title-d" id="enrollLabel">SUPER HERO DETAILS</h5>
                </div>
                <div class="modal-body m-body" *ngFor="let h of HeroArray">
                    <div class="row">
                        <div class="col">
                            <h4 class="name"> {{h.name}}</h4>
                            <h4 class="dob"> Born {{h.dob | date: 'MM/dd/yyyy'}} </h4>
                            <h4 class="dob">{{h.phone}} </h4>
                        </div>
                        <div class="col ">
                            <div class="pic">
                                <img [src]="h.src">
                            </div>
                        </div>
                    </div>
                    <div class="body-contain">
                        <h5 class="verbiage pt-2">Goes by the alias {{h.nickname}}.</h5>
                        <h5 class="verbiage mx-2">When fighting crime {{h.superpower1}} and {{h.superpower2}} are often
                            utilized to defeat their arch nemesis.</h5>
                    </div>
                </div>
                <div class="modal-footer footer-det">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>