.carouselimgsz{
    height:300px;
}
.add-text{
  font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-weight:600;
    text-transform: uppercase;
}
.label-txt{
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif; 
}
.main-container{
  background-color: white;
  }

.form-cont{
  margin-left: 712px;
}

