<div class="main-container">

    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/SpiderManBanner.jfif" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>

    <div class="add-text pt-2">
        <img class="col-img" [src]="Hero.src">
        CHANGE {{Hero.name}} RECORD
        <img class="col-img" [src]="Hero.src">
    </div>

    <!--  <section class="main-section w-100 pt-3 "> -->
    <div class="w-100 pt-3 form-cont " *ngIf="Hero!=undefined">
        <!--    <div class="col pt-4 ">
                    <img class="col-img" [src]= "Hero.src"> 
                </div>-->
        <div class="row ">
            <div class="col ">
                <label for="inputName" class="w-25 label-txt">Hero Name *</label>
                <input type="text" name="Name" [(ngModel)]="Hero.name" class="form-control w-25" id="inputName">
                <label for="inputspecies" class="w-25 label-txt">NickName *</label>

                <input type="text" name="NickName" [(ngModel)]="Hero.nickname" class="form-control w-25"
                    id="inputNickName">
                <label for="inputSuperPower1" class="w-25 label-txt">Super Power 1 *</label>
                <input type="text" name="SuperPower1" [(ngModel)]="Hero.superpower1" class="form-control w-25"
                    id="inputSuperPower1">
                <label for="inputSuperPower2" class="w-25 label-txt">Super Power 2</label>
                <input type="text" name="SuperPower2" [(ngModel)]="Hero.superpower2" class="form-control w-25"
                    id="inputSuperPower2">
                <label for="inputPhone" class="w-25 label-txt">Phone *</label>
                <input type="text" name="Phone" [(ngModel)]="Hero.phone" class="form-control w-25" id="inputPhone">
                <label for="inputDob" class="w-25 label-txt">Date Of Birth *</label>
                <input type="datetime-local" name="Dob" [(ngModel)]="Hero.dob" class="form-control w-25" id="inputDob">

                <label for="inputSrc" class="w-25 label-txt">Source *</label>
                <input type="text" name="src" [(ngModel)]="Hero.src" class="form-control w-25 mb-3" id="inputSrc"
                    placeholder="/assets/name.jpg">


                <button (click)="onSubmit()" type="button" class="btn btn-secondary mb-3">Update</button>
                <a href="" class="btn btn-secondary mb-3 ms-2" routerLink="/" aria-pressed="true">Home</a>
            </div>
        </div>

        <div class="popup-container ">
            <div class="popup" *ngIf="showPopup">
                <div class="popup-header">
                    <h3 class="popup-title">There is an error on the form</h3>
                </div>
                <div class="popup-body ">
                    <p>All fields marked with an * are required to be entered</p>
                </div>
            </div>
            <div class="popupAdd" *ngIf="showRecAdded">
                <div class="popup-header">
                    <h3 class="popup-title"> {{Hero.name}} Record has been updated</h3>
                </div>
            </div>
        </div>
    </div>
</div>