<div class="main-container">
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/SpiderManBanner.jfif" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <div class="add-text pt-2">
        FREQUENTLY ASKED QUESTIONS
    </div>
    <!-- FAQ's -->
    <section id="questions" class="p-5">
        <div class="qcontainer">
            <div class="accordion accordion-flush" id="questions">
                <!-- Item 1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-one">
                            What is the registration act?
                        </button>
                    </h2>
                    <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">
                            It enabled the government to monitor all powered individuals and was drafted
                            to facilitate the government's licensing and/or employment of individuals who were
                            actively using their powers. The powered individual had to fulfill some requirements or
                            meet some criteria before they were allowed to fully use their abilities and gain legal
                            authorization to continue to use their abilities to fight crime. Government employment
                            was not mandatory, though it was available to those who wished to take it.
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-two">
                            What is the definition of a Super Hero?
                        </button>
                    </h2>
                    <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">
                            A superhero or superheroine is a human that typically possesses superpowers, abilities
                            beyond those of ordinary people,
                            and fits the role of the hero, typically using his or her powers to help the world become a
                            better place, or dedicating
                            themselves to protecting the public and fighting crime.
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-three">
                            If I have Super Powers how can I become a Super Hero?
                        </button>
                    </h2>
                    <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">
                            If you qualify as a potential Super Hero you can opt into a vigurous training program
                            and will also be mentored by other Super Heroes.
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-four">
                            What qualities are you looking for in a Super Hero?
                        </button>
                    </h2>
                    <div id="question-four" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">
                            Extraordinary ability, Moral conviction, Great courage, and a mission to serve.
                        </div>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-five">
                            What kind of skills should a Super Hero have?
                        </button>
                    </h2>
                    <div id="question-five" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">
                            Marksmanship and General Projectile Skills. Some heroes skill is with a long range weapon,
                            such as a gun, throwing weapons or a bow and arrow.
                            Martial Arts and General Hand-to-Hand Combat Skills. Swordsmanship and General Weaponry
                            Skills. Agility, Endurance/Durability and Strength.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>