.carouselimgsz{
    height:300px;
}
.label-txt{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif; 
}
.main-container{
background-color: rgba(218, 218, 207, 0.432);
}
.add-text{
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-weight:600;
}
.cardinfo{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20px;
}